@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*
{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(36deg,#070908,#212221 50%,#475254) ;
    
}

.container
{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
   
}

.container .card
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    margin: 15px;
    left: 0;
    height: 300px;
    width: 200px;
    border-radius: 20px;
    box-shadow:  5px 5px 30px rgb(8, 8, 8);
    overflow: hidden;
    background: rgba(185, 6, 90, 0.1);
      
}

.container .card .back 
{
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(30deg,#7a053caa,#b60959aa 20%,black 80%,black);
}

.container .card .content
{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 30px;
    transform: translateX(-90%) translateZ(50px)      ;
    transition: 0.5s;
    color: white;
    opacity: 0;

}
.container .card:hover
{
    transition: 0.5s;
    background: rgba(255,255,255,0.1);
    transform: scale(1.2);
    
}
.container .card:hover .content
{
    transition: 0.5s;
    opacity: 1;
    transform: translateX(0) translateZ(50px);
}
.container .card:hover h1
{
    transform: translateX(90%);
}
.container .card:hover h1>span
{
    transform: rotate(180deg);
}
.container .card .content h2
{
    padding-top: 7px;
    font-size: 2em;
    font-weight: 800;
    z-index: 2;
    text-shadow: 5px 5px 15px rgba(0,0,0,0.1);

}

.container .card h1
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 5em;
    font-weight: 900;
    color: rgb(98, 98, 98);
    z-index: -1;
    transition: 0.5s;
    padding: 10px;
}

.container .card h1 span{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-15%);
    font-size: 2em;
    font-weight: 900;
    color:  rgb(98, 98, 98);
    z-index: -1;
    transition: 0.5s;
}
.container .card .content a
{
    padding: 7px;
    background: rgb(5, 0, 5);
    font-size: 10px;
    font-weight: 300;
    text-decoration: none;
    color: aliceblue;
    border-radius: 10px;
    margin-top:8px;
    bottom: 10px;
   
}